@media (max-width: 375px) {

    .container {
        width: 375px;
        background: url(../images/bg-mobile.svg) no-repeat;
        opacity: 0.9;
        background-color: #674bb1;
        padding: 35px
    }

    .logo-container .logo {
        width: 130px;
        margin-bottom: 47px;
    }

    .hero {
        flex-direction: column;
        text-align: center;
    }

    .page img {
        width: 300px;
    }

    .hero .about h2 {
        color: #fff;
        font-size: 23px;
        font-weight: 600;
        padding: 0 10px;
        margin-top: 50px;

    }

    .hero .about p {
        color: #fff;
        font-size: 15.5px;
        line-height: 25px;
        padding: 20px 0 0 0;

    }

    .hero .about .btn-register {
        border-radius: 30px;
        width: 205px;
        height: 40px;
        margin: 25px 0 0 0;
        border: none;
        font-size: 13px;

    }

    .about .icons-container {
        display: flex;
        gap: 15px;
        margin-top: 50px;
        margin-left: 90px;
    }

    .about .icons-container .icons {
        width: 30px;
        height: 30px;
    }

    .fa-brands.fa-facebook-f,
    .fa-brands.fa-instagram,
    .fa-brands.fa-twitter {
        font-size: 15px;

    }
}