body {
    font-family: 'Open Sans', sans-serif;
}

main {
    background: url(../images/bg-desktop.svg);
    opacity: 0.9;
    background-color: #674bb1;
    width: 1440px;
    height: 800px;
    padding: 55px 68px;
}

.logo-container .logo{
    width: 219px;
    margin-bottom: 77px;
}

.hero {
    display: flex;
    padding: 5px;
}

.about h2 {
    color: #fff;
    font-size: 39px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    padding: 42px 52px 0;

}

.about p {
    color: #fff;
    font-size: 18px;
    padding: 20px 11px 23px 52px;
    line-height: 27px;

}

.about .btn-register {
    border-radius: 30px;
    width: 200px;
    height: 58px;
    margin-left: 52px;
    border: none;
    font-size: 18px;
    color: #674bb1;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}
.btn-register:hover{
    background-color: #e980e7;
    color: #fff;
}

.icons-container {
    display: flex;
    gap: 15px;
    margin-top: 179px;
    margin-left: 426px;
}

.about .icons-container .icons i {
    color: #fff;

}

.icons-container .icons {
    border: 1px solid #fff;
    display: flex;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
}

.fa-facebook-f,
.fa-instagram,
.fa-twitter {
    font-size: 18px;

}


.icons-container .icons:hover{
    border: 1px solid #fa53c5;
    
    
}

.about .icons-container .icons:hover i {
    color: #e758c2;

}
